.small-size {
  font-size: $small-font-size;
}

.text-justify {
  text-align: justify;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-80{
  margin-bottom: 80px;
}

.border-default {
  border-color: $default-color;
}

.height-100{
  height: 100px;
}

.muted-color{
  color: $default-muted-color;
}
.grey-color{
  color: $default-grey-color;
}