.small-text {
  font-size: $small-font-size;
}

.text-justify {
  text-align: justify;
}

.mb-30 {
  margin-bottom: 30px;
}

.border-default {
  border-color: $default-color;
}

.height-100{
  height: 100px;
}