footer {
  background-color: $default-light-color;

  .copyright {
    color: $default-muted-color;
  }

  .nav-footer {
    li {
      &::before {
        content: '';
        background-color: $default-muted-color;
        width: 3px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
      }

      @include min-screen(1200px) {
        &:first-of-type {
          &::before {
            display: none;
          }
        }
      }

      a {
        padding-left: 10px;
        padding-right: 10px;
        color: $default-muted-color;
      }
    }
  }
}