
.checkbox,
.form-check {
  position: relative;
  padding-left: 25px;
}


.form-check-input {
  margin-left: 0;
}

input[type="checkbox"] {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: 6px;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 50% 50%;
  border: 1px solid $default-primary-color;
  box-shadow: none;
  margin-right: 8px;
  cursor: pointer;
  transition: all .2s ease;

  &.color-grey {
    border: $base-border-width solid $base-border-color;

    &:checked {
      background-color: $base-border-color;
    }

  }
}

input[type="checkbox"]:checked {
  background-color: $default-primary-color;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 22 16" stroke="white"><path fill="none" stroke="inherit" stroke-width="1.8824" stroke-miterlimit="50" stroke-linecap="butt" stroke-linejoin="miter" d="M20.028 2.353l-12.028 12.028-6.381-6.381"></path></svg>');
}


label {
  &.grey-color {

  }
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type="month"],
input[type=week],
input[type=text],
input[type=time],
input[type=url],
textarea,
select {
  min-height: 50px;
  border-radius: 0;
}


input:focus {
  outline: none;
}


//*** Form validation ***

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: $default-danger-color;
  box-shadow: none !important;

}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: $default-success-color;
  box-shadow: none !important;
  background-image: none;
}

//*** END Form validation ***


textarea {
  resize: none;
}


.form-control {
  border: $base-border-width solid $base-border-color;
  color: $default-color;
  border-radius: 0;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $base-border-color;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

//.box-field input:focus ~ label,
//.box-field input:valid ~ label {
//  top: 0;
//  color: $default-primary-color;
//  font-size: 12px;
//}



.box-field {
  position: relative;
  flex-grow: 1;

  label {
    pointer-events: none;
    background-color: $default-light-color;
    padding: 5px 5px 5px 5px;
    transition: .2s;
    position: absolute;
    top: 50%;
    margin: 0 0 0 10px;
    transform: translateY(-50%);
    left: 0;
    color: $default-light-grey-color;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;

  }

  textarea ~ label{
    transform: none;
    top: 11px;
  }

  input,
  textarea{
    &:focus ~ label,
    &:valid ~ label{
      font-size: 11px;
      transform: translateY(-50%) !important;
      top: 0 !important;
      color: $default-primary-color;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}