.card-pricing {
  border-top: 5px solid $default-primary-color;
  max-width: 360px;
  transition: all .3s;
  position: relative;
  &::after{
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid $default-primary-color;
    border-right: 10px solid $default-primary-color;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-price {
    padding: 2px 20px;
    background-color: $default-primary-color;
    color: $default-light-color;
  }
  .card-footer{
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
  }

  &.active {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
  }

  &:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
  }

  @include max-screen(1024px) {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
  }
}

