.reviews-carousel {
  .owl-carousel {

    /* Styling Pagination for owl-carousel*/
    .owl-dots .owl-dot span {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 16px;
      height: 5px;
      margin-left: 4px;
      margin-right: 4px;
      background: #60606e;
      border: none;
      transition: all .3s ease;

    }
    .owl-nav.disabled+.owl-dots {
      margin-top: 30px;
    }
    
    .owl-dots .owl-dot:focus{
      outline: none;
    }

    .owl-dots .owl-dot:hover span {
      background: $default-primary-color;
    }

    .owl-dots .owl-dot.active span {
      width: 32px;
      background: $default-primary-color;

    }


    /***/


    .owl-item {
      img {
        width: auto;
      }
    }
  }

  .author-name {
    color: $default-light-color;
    background-color: $default-primary-color;
    font-family: $default-primary-font-family;
  }
}








