@import "variables";
@import "mixins";
@import "extra-classes";
@import "buttons";
@import "header";
@import "hero";
@import "footer";
@import "services";
@import "portfolio";
@import "benefits";
@import "newsletter";
@import "breadcrumbs";
@import "review";

.wrapper {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  overflow-x: hidden;
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $default-color;
  line-height: $default-line-height;
}

* {
  &.inverse-color {
    color: $default-light-color;
  }
}

@include max-screen(992px) {
  .container-img-small {
    max-height: 270px;
    overflow: hidden;
  }
}


.checkbox {
  position: relative;
  padding-left: 25px;
}


input[type="checkbox"] {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: 6px;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 50% 50%;
  border: 1px solid $default-primary-color;
  box-shadow: none;
  margin-right: 8px;
  cursor: pointer;
  transition: all .2s ease;
}

 input[type="checkbox"]:checked {
  background-color: $default-primary-color;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 22 16" stroke="white"><path fill="none" stroke="inherit" stroke-width="1.8824" stroke-miterlimit="50" stroke-linecap="butt" stroke-linejoin="miter" d="M20.028 2.353l-12.028 12.028-6.381-6.381"></path></svg>');
}


 input:focus{
   outline: none;
 }



.form-control {
  border: $base-border-width solid $base-border-color;
  color: $default-color;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $base-border-color;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $default-light-grey-color !important;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: $base-heading-text-transform;
  font-weight: $base-heading-font-weight;
  font-family: $default-primary-font-family;

}


h1 {
  font-size: $base-h1-font-size;
  line-height: $base-h1-line-height;
  border: 10px solid $default-color;

  @include max-screen(992px) {
    font-size: 40px;
  }


  @include max-screen(640px) {
    font-size: 35px;
    border: 8px solid $default-color;
  }
  @include max-screen(480px) {
    font-size: 32px;
  }

}

h2 {
  font-size: $base-h2-font-size;
  line-height: $base-h2-line-height;

  @include max-screen(992px) {
    font-size: 30px;
  }

  @include max-screen(640px) {
    font-size: 27px;
  }
  @include max-screen(320px) {
    font-size: 26px;
  }
}

h3 {
  font-size: $base-h3-font-size;
  line-height: $base-h3-line-height;

  @include max-screen(992px) {
    font-size: 25px;
  }

  @include max-screen(640px) {
    font-size: 23px;
  }
}

h4 {
  font-size: $base-h4-font-size;
  line-height: $base-h4-line-height;

  @include max-screen(992px) {
    font-size: 20px;
  }

  @include max-screen(640px) {
    font-size: 18px;
  }
}

h5 {
  font-size: $base-h5-font-size;
  line-height: $base-h5-line-height;

  @include max-screen(992px) {
    font-size: 17px;
  }

  @include max-screen(640px) {
    font-size: 16px;
  }
}

h6 {
  font-size: $base-h6-font-size;
  line-height: $base-h6-line-height;
}


.heading-decor {
  position: relative;
  z-index: 1;
  display: inline-block;

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    width: 80px;
    height: 22px;
    bottom: 0;
    background-color: $default-primary-color;
    @include max-screen(992px) {
      //bottom: 0;
      //top:auto;
      height: 18px;
      width: 60px;

    }

  }
}


.sup-heading {
  background-color: $default-primary-color;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  line-height: 18px;
}


.background {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay,
.background,
.parallax {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.foreground {
  position: relative;
}

.section-title {
  max-width: 740px;
  margin-bottom: 80px;

  @include max-screen(992px) {
    margin-bottom: 50px;
  }
}

section {
  &:not(:last-of-type) {
    margin-bottom: 125px;

    @include max-screen(992px) {
      margin-bottom: 100px;

    }
    @include max-screen(768px) {
      margin-bottom: 80px;

    }

  }
}

@include min-screen(992px) {
  .history {
    margin-top: -425px;
  }

}

.test-animation {
  background: $default-color;

  .card {
    background: $default-light-color;
    color: $default-color;
  }

  .col {
    &:nth-of-type(2) {
      z-index: 2;
      position: relative;
    }
  }
}

.test-animation2 {
  background: $default-primary-color;

  .card {
    background: $default-light-color;
    color: $default-color;
  }

}

.color-square {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: $default-light-color;
  background-color: $default-primary-color;
}